@import url('https://fonts.googleapis.com/css?family=Montserrat:600,800&display=swap');

:root{
  --scrannysGreen: #11CC16;
  --scrannysRed: #E3201B;
  --scrannysLightRed: #EE7760;
  --scrannysBlue: #1C1B3A;
  --scrannysOrange: #F9C18A;
  --scrannysOrange50over50: #FAD0A6;
  --scrannysOrange50: #FCE0C4;
  --scrannysWhite: #FEF6EE;
  --scrannysLightWhite: #FEF8F3;

  --scrannysFontLight: 600;
  --scrannysFontBold: 800;

  --zIndexVerifyPage: 1000;

  --mHeight30px: 3.75vh;
  --mHeight50px: 6.25vh;
  --mHeight60px: 7.5vh;
  --mHeight70px: 8.75vh;
  --mHeight100px: 12.5vh;
  --mHeight140px: 17.5vh;


}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  font-weight: var(--scrannysFontLight);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #FEF6EE url('../src/assets/textureScrannys.png');
  background-size: 200px;
  
  color: var(--scrannysBlue);
}


