:root{
  --scrannysGreen: #11CC16;
  --scrannysRed: #E3201B;
  --scrannysLightRed: #EE7760;
  --scrannysBlue: #1C1B3A;
  --scrannysOrange: #F9C18A;
  --scrannysOrange50over50: #FAD0A6;
  --scrannysOrange50: #FCE0C4;
  --scrannysWhite: #FEF6EE;
  --scrannysLightWhite: #FEF8F3;

  --scrannysFontLight: 'Montserrat-SemiBold';
  --scrannysFontBold: 'Montserrat-ExtraBold'; 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #FEF6EE url('../src/assets/textureScrannys.png');
  background-size: 200px;
  
  color: var(--scrannysBlue);
}


